#! bin/bash
echo "Adding aliases"
# Apps 
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
alias r="radian"
alias lastp="lpass show -c --password \$(lpass ls  | fzf | awk \'{print \$(NF)}\' | sed \'s/\]//g\')"
# BEE
alias bee='ssh -v -X federerj@rbaub000162.bas.roche.com'
alias beetunnel='ssh -N -L 2342:localhost:2342 federerj@rbaub000162.bas.roche.com'  
alias logs361="cd /var/log/shiny-server/3.6.1/users/"
alias logs363="cd /var/log/shiny-server/3.6.3/users/"
alias server361="cd /srv/shiny-server/3.6.1/users/federerj/"
alias server363="cd /srv/shiny-server/3.6.3/users/federerj/"
alias r361='radian --r-binary=/opt/bee_tools/R/3.6.1/lib64/R/bin/R'
alias R361='/opt/bee_tools/R/3.6.1/lib64/R/bin/R'
# Project folders
alias warrior="cd ~/dev/waRRior && tmux new-session -s warrior"
alias metabird="cd ~/dev/metabird && tmux new-session -s metabird"
alias metamodules="cd ~/dev/metamodules && tmux new-session -s metamodules"
alias metabirdapp="cd ~/dev/metabirdapp && tmux new-session -s metabirdapp"
alias aos='cd ~/dev/AceOfSpades'
alias uc22='cd ~/dev/uc22_app_dev'
# Edit config files
alias editbash="nvim ~/.bashrc" 
alias editzsh="nvim ~/.zshrc" 
alias editnvim='nvim ~/.config/nvim/init.vim'
alias editaliases="nvim ~/.aliases"
alias edittmux="nvim ~/.tmux.conf"
# Source files
alias srcbash='source ~/.bashrc'
alias srczsh='source ~/.zshrc'
alias srcnvim='source ~/.config/nvim/init.vim'
alias srcaliases='source ~/.aliasesrc'
# Dotfiles
alias save_dotfiles="~/dotfiles/quickfix.sh"

